ServiceDeskFiscalBack/ServiceDeskFiscal.SoapClient/Connected Services/SolicitacaoServiceReference/SolicitacaoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49887/SolicitacaoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceDeskFiscal.SoapService" />
  <xs:element name="CriarSolicitacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceDeskFiscal.SoapService" minOccurs="0" name="request" nillable="true" type="q1:CriarSolicitacaoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CriarSolicitacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceDeskFiscal.SoapService" minOccurs="0" name="CriarSolicitacaoResult" nillable="true" type="q2:CriarSolicitacaoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterSolicitacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceDeskFiscal.SoapService" minOccurs="0" name="request" nillable="true" type="q3:ObterSolicitacaoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterSolicitacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceDeskFiscal.SoapService" minOccurs="0" name="ObterSolicitacaoResult" nillable="true" type="q4:ObterSolicitacaoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSolicitacoes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSolicitacoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceDeskFiscal.SoapService" minOccurs="0" name="ListarSolicitacoesResult" nillable="true" type="q5:ListarSolicitacoesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessarSolicitacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceDeskFiscal.SoapService" minOccurs="0" name="request" nillable="true" type="q6:ProcessarSolicitacaoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessarSolicitacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceDeskFiscal.SoapService" minOccurs="0" name="ProcessarSolicitacaoResult" nillable="true" type="q7:ProcessarSolicitacaoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>