ServiceDeskFiscalBack/ServiceDeskFiscal.SoapClient/Connected Services/SolicitacaoServiceReference/SolicitacaoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SolicitacaoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49887/SolicitacaoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49887/SolicitacaoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49887/SolicitacaoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceDeskFiscal.SoapService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISolicitacaoService_CriarSolicitacao_InputMessage">
    <wsdl:part name="parameters" element="tns:CriarSolicitacao" />
  </wsdl:message>
  <wsdl:message name="ISolicitacaoService_CriarSolicitacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:CriarSolicitacaoResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitacaoService_ObterSolicitacao_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterSolicitacao" />
  </wsdl:message>
  <wsdl:message name="ISolicitacaoService_ObterSolicitacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterSolicitacaoResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitacaoService_ListarSolicitacoes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarSolicitacoes" />
  </wsdl:message>
  <wsdl:message name="ISolicitacaoService_ListarSolicitacoes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarSolicitacoesResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitacaoService_ProcessarSolicitacao_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessarSolicitacao" />
  </wsdl:message>
  <wsdl:message name="ISolicitacaoService_ProcessarSolicitacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessarSolicitacaoResponse" />
  </wsdl:message>
  <wsdl:portType name="ISolicitacaoService">
    <wsdl:operation name="CriarSolicitacao">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitacaoService/CriarSolicitacao" message="tns:ISolicitacaoService_CriarSolicitacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitacaoService/CriarSolicitacaoResponse" message="tns:ISolicitacaoService_CriarSolicitacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterSolicitacao">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitacaoService/ObterSolicitacao" message="tns:ISolicitacaoService_ObterSolicitacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitacaoService/ObterSolicitacaoResponse" message="tns:ISolicitacaoService_ObterSolicitacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarSolicitacoes">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitacaoService/ListarSolicitacoes" message="tns:ISolicitacaoService_ListarSolicitacoes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitacaoService/ListarSolicitacoesResponse" message="tns:ISolicitacaoService_ListarSolicitacoes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessarSolicitacao">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitacaoService/ProcessarSolicitacao" message="tns:ISolicitacaoService_ProcessarSolicitacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitacaoService/ProcessarSolicitacaoResponse" message="tns:ISolicitacaoService_ProcessarSolicitacao_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISolicitacaoService" type="tns:ISolicitacaoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CriarSolicitacao">
      <soap:operation soapAction="http://tempuri.org/ISolicitacaoService/CriarSolicitacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterSolicitacao">
      <soap:operation soapAction="http://tempuri.org/ISolicitacaoService/ObterSolicitacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarSolicitacoes">
      <soap:operation soapAction="http://tempuri.org/ISolicitacaoService/ListarSolicitacoes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessarSolicitacao">
      <soap:operation soapAction="http://tempuri.org/ISolicitacaoService/ProcessarSolicitacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SolicitacaoService">
    <wsdl:port name="BasicHttpBinding_ISolicitacaoService" binding="tns:BasicHttpBinding_ISolicitacaoService">
      <soap:address location="http://localhost:49887/SolicitacaoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>